h3,
h5 {
  font-weight: 600;
}

.navbar-light .navbar-brand {
  color: #4b4b4b;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: #4b4b4b;
}

.btn-primary {
  background-color: #3232ff;
  border-color: #3232ff;
}

.btn-primary:hover {
  background-color: #2525df;
  border-color: #2525df;
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: #2525df;
  border-color: #4d4dff;
}

.btn-danger {
  background-color: #ff4646;
  border-color: #ff4646;
}

.btn-danger:hover {
  background-color: #df2727;
  border-color: #df2727;
}

.btn-danger:focus,
.btn-danger.focus {
  background-color: #df2727;
  border-color: #bd2130;
}

.btn-warning {
  color: white;
  background-color: #ffaf32;
  border-color: #ffaf32;
}

.btn-warning:hover {
  color: white;
  background-color: #df9217;
}

.btn-warning:focus,
.btn-warning.focus {
  color: white;
  background-color: #df9217;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: white;
  background-color: #df9217;
}
