* {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
}

body {
  margin: 0;
  color: #4b4b4b;
}

.header {
  font-weight: 600;
}

.nav-img {
  max-height: 3rem;
}

.std-button {
  height: 3rem;
}

.timer {
  border-radius: 0.25rem;
  color: white;
  height: 100%;
  min-height: 12rem;
}

.timer-stopped {
  background-color: #4bed4b;
}

.timer-stopped:hover {
  cursor: pointer;
}

.timer-running {
  background-color: #b4b4b4;
}

.timer-running:hover {
  cursor: pointer;
}

.counter {
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
  font-weight: 400;
}

.start-stop {
  font-size: 1.25rem;
}

.yellow-round-top {
  min-height: 12.5rem;
  width: 150%;
  left: -25%;
  border-radius: 50% 50% 0 0 / 100px;
  background-color: #ffff64;
}

.yellow-contents {
  width: calc(100% / 3 * 2);
}

.session-data {
  width: 100%;
  flex-direction: column;
}

.stat-col {
  width: 8rem;
}

.session-times {
  margin-top: 1.5rem;
}

.time-number {
  width: 2.5rem;
}

.time-display {
  width: 6rem;
}

.time-delete {
  width: 2.5rem;
  color: #ff4646;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .session-data {
    flex-direction: row;
    justify-content: center;
  }

  .session-stats {
    width: 20rem;
  }

  .session-times {
    margin-top: 0;
    width: 20rem;
  }
}
