* {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
}

body {
  margin: 0;
  color: #4b4b4b;
}

.header {
  font-weight: 600;
  margin-bottom: 2rem;
}

.nav-img {
  max-height: 3rem;
}

.std-button {
  height: 3rem;
}
